textarea {
    min-height: 400px;
}
#emails-view div{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 7px
}
.timestamp{
    font-size: small;
    text-align: right;
    width: 100%
}
.body-wrapper{
    width: 100%;
    background-color: #edf0f2;
    text-align: center;
    padding-bottom: 50px;
}

.mail-body {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    text-align: left;
  }
.body-wrapper h2 {
    padding: 10px
}