
* {
    box-sizing: border-box;
}

.navbar{
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    font-size: 15px;
    li {
        margin-left: 15px
    }
}

a{
    color:black;
    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 584px;
    max-width: 584px;
}
.search-button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
}
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.navbar li {
    margin-left: 15px;
}

a {
    color: black;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 584px;
    max-width: 584px;
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;


}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


.div_header {
    display: inline-block;
    width: 200px;
    min-height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}

.div_header span {
    font-size: 16px;
}

.bar {
    display: inline-block;
    width: 40%;
    min-height: 41px;
    vertical-align: middle;
    margin-right: 20px;
}

.bar input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 100%;
    text-align: left;
}

.todo {
    display: inline-block;
    width: calc(60% - 220px);
    color: #555;
    font-size: 11px;
    vertical-align: middle;
    font-family: Arial, sans-serif;
}

.todo_header {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
}

form {
    padding:35px;
    width: 100%}

.appbar{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: Arial,sans-serif;
}
#border{
    border-bottom: 1px solid; color: rgb(216, 205, 205);

}
.action_button{
    text-align: center;
    margin-top: -30px;
    margin-left: 270px;
    input{background-color: #4d90fe;
    height: 30px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #3079ed;
    color: white;
    }
    
}

form {
    padding: 35px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.div_header {
    width: 200px;
    min-height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    font-family: Arial, sans-serif;
}

.bar {
    flex-grow: 1;
    margin-right: 20px;
}

.bar input {
    width: 100%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.todo {
    width: 300px;
    color: #555;
    font-size: 11px;
    font-family: Arial, sans-serif;
}

.todo_header {
    font-size: 13px;
    font-weight: 700;
    color: #777;
    margin-bottom: 10px;
}

.action_button {
    margin-left: 200px;
}

.action_button input {
    background-color: #4d90fe;
    height: 30px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #3079ed;
    color: white;
    padding: 0 12px;
}