.navbar{
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    font-size: 15px;
    li {
        margin-left: 15px
    }
}

a{
    color:black;
    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 584px;
    max-width: 584px;
}
.search-button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

    
}



.div_header{
    display: inline-block;
    min-width: 167px;
    width: 5%;
    min-height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
    font-family: Arial, sans-serif;
    span{
        font-size: 16px
    }
    
}


.bar{
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
    input{
        border-radius: 1px;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        font-size: 13px;
        height: 25px;
        padding: 1px 8px;
        width: 100%;
        text-align: left;
        
    }

}
.todo_header{
    display: inline-block;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}
.todo{
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 8px;
    vertical-align: middle;
    position: relative;
    font-family: Arial, sans-serif;
}

form{
    padding:35px;
    width: 100%}

.appbar{
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: Arial,sans-serif;
}
#border{
    border-bottom: 1px solid; color: rgb(216, 205, 205);

}
.action_button{
    text-align: center;
    margin-top: -30px;
    margin-left: 270px;
    input{background-color: #4d90fe;
    height: 30px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #3079ed;
    color: white;
    }
    
}