body {
    padding: 10px;
}
.custom-img {
    width: 100%;  
    height: 500px; 
    object-fit: cover;  
    object-position: center;  
}

.comments {
    word-wrap: break-word; 
    overflow-y: auto;
    max-height: 220px;
}

.card-body {
    display: flex;
    flex-direction: column;
}
