

button:disabled {
    position:relative;
}

button:disabled::after{
    content:attr(data-tooltip);
    position: absolute;
    left: 120%;
    bottom: 10%;
    text-wrap:nowrap;
    border: 1px solid;
    border-radius: 10px;
    padding: 2px;
    background-color:rgb(236, 236, 118);
    opacity: 0;
    transition: opacity 0.8s;
    visibility: hidden;
    font-size: small;
}
button:disabled:hover::after {
    opacity: 1; /* Show tooltip on hover */
    visibility: visible;
}

.post{
    border-top: 1px solid;
    padding: 5px;
    margin: 5px
}
.post-container{
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#post-form{
    display:flex
}

.profile{
    margin-left: 5px;
}

.profile-info{
    display: flex;
}
#follow{
    margin-left: 10px;
}
.follow-info{
    margin-left: -25px
}
.timestamp{
    font-size: small;
}