{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else  %}
        Add Page
    {% endif %}
{% endblock %}

{% block body %}

    <form method="POST">
        {% csrf_token %}
        {% if title %}
        <h3>{{ title }} </h3>
        {% else  %}
        <input type="text" name="title" placeholder="Title">
        {% endif %}
        <textarea name="content" placeholder="Enter md content">{% if content %}{{ content }}{% endif %}</textarea>
        <input type="submit" value="Save">
    </form>

{% endblock %}  