{% extends "auctions/layout.html" %}

{% block body %}
    <form method="POST">
        {% csrf_token %} 
        <div class="mb-3">
        <label for="title" class="form-label" >Title</label>
        <input type="title" name="title" class="form-control" id="title" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" id="description" rows="3" required></textarea>
        </div>
        <div class="mb-3">
        <label for="url" class="form-label">Image url</label>
        <input type="text" name="photo" class="form-control" id="url">
        </div>
        <select name="category" class="form-select form-select-lg mb-3">
            <option value="" selected>Choose a category</option>
            {% for category in categories %}
                <option value={{category.id}}>{{category}}</option>
            {%endfor%}
        </select> <br></br>
        
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <span class="input-group-text">0.00</span>
            <input type="number" name="price" step="0.01" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" required>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}