{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
    <div class="post-container">
        <div class="new-post">
            <h4> New post </h4>
            <form id="post-form">
                <textarea id="post-content" name="post-content"></textarea>
                <button type="submit"> Post </button>
            </form>
        </div>
    </div>
{% endif %}
    <div class="feed">
        {% for post in page_data%}
        <div class="post"> 
            <a href="{% url "user_profile" post.user.id %}">{{post.user}}</a>
            <span> {{post.timestamp}} </span>
             <pre>{{post.body}}</pre> 
        </div>
        {% endfor %}
    </div>

    <ul class="pagination">
        {% if page_data.has_previous %}
            <a class="page-link" href="/?page={{page_data.previous_page_number}}">Previous</a>
        {% else %}   
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1">Previous</a>
        </li>
        {% endif %}

        {% for page in paginator.page_range %}
            <li class="page-item"><a class="page-link" href="/?page={{page}}">{{page}}</a></li>
        {% endfor %}
        
        {% if page_data.has_next %}
            <a class="page-link" id="next-page" href="/?page={{page_data.next_page_number}}">Next</a>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" >Next</a>
            </li>
        {% endif %}
    </ul>

{% endblock %}

{% block script %}
    <script src="{% static 'network/file.js' %}?v={% now 'U' %}"></script>
    
{% endblock %}